*{
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;
}
.col-back-c {
    height: 110px;
    background-color: rgba(28, 12, 12, 0.802);
    
}

.bg-img {
    background-image: url(../images/old-954310_1920\ \(1\).jpg);
}
.w-img-tic {
    width: 30%;
}
.x {
    background-image: url(../images/x-png-icon-8.jpg);
    background-repeat: round;
    pointer-events: none;
    /* Animation */
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-name: x; 
            animation-name: x; 

}
@keyframes x { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }
 @keyframes o { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateX(-30px);} 
    60% {transform: translateX(-15px);} 
 }
.o {
    background-image: url(../images/—Pngtree—sun\ fire\ orange\ shining\ circle_6054576.png);
    background-repeat: round;
    pointer-events: none;
    /* Animation */
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-name: o; 
            animation-name: o; 
}
.col-4 {
    cursor: pointer;
}
.border {
    color: rgba(0, 0, 0, 0);
    user-select: none;
}
.text-s {
    background: #E9F018;
    background: linear-gradient(to top left, #E9F018 23%, #E83815 71%);
    -webkit-background-clip: text;
    background-clip: border;
    -webkit-text-fill-color: transparent;
    user-select: none;
    color: #161313;
}
.text-w{
    background: #E9F018;
    background: linear-gradient(to top left, #E9F018 23%, #E83815 71%);
    -webkit-background-clip: text;
    background-clip: border;
    -webkit-text-fill-color: transparent;
    user-select: none;
}
.turn-one{
    font-size: 50px;
    user-select: none;
}

.turn-one{
	backface-visibility: visible;
	animation: flip 2s ease infinite;
    animation-name: flip;

}
@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-in-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-in-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-out;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease;
	}
}
